<h1 mat-dialog-title>Read</h1>
<div mat-dialog-content>
  <div fxLayout='column' fxLayoutGap='10px'>
    <form>
      <mat-form-field>
        <input matInput type='number' #id (keyup.enter)="read(id.value)" placeholder='ID' required>
        <mat-hint>Press Enter to search by ID</mat-hint>
      </mat-form-field>
    </form>
    <label ng-if="error?">{{error}}</label>
    <label>ID: {{user?.id || ''}}</label>
    <label>First Name: {{user?.first_name || ''}}</label>
    <label>Last Name: {{user?.last_name || ''}}</label>
    <label>Avatar: </label>
    <img src='{{user?.avatar || ""}}' style="width: 40%;">
  </div>

</div>